.defaultButtonHolder {
    margin-top: 40px;
    button {
        outline: none;
        width: 200px;
        font-size: 24px;
        color: #000;
        padding: 10px;
        background-color: #fff;
    }
}
