.linkBox {
    padding: 10px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000 !important;
    min-width: 200px;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none !important;
}
