.scrumMasterPanel {
    margin-top: 52px;
    .storyDetail {
        border: 1px solid #000;
        position: relative;
        margin-top: 20px;
        padding-bottom: 30px;
        .panelName {
            position: absolute;
            top: -13px;
            background: #fff;
            left: 15px;
        }
        .detailBox {
            margin-top: 20px;
            padding: 10px;
            .storyName {
            }
            .voterList {
                margin-top: 20px;
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}
